/bin/
/dist/game/log
/.DS_Store
.DS_Store
dist/.DS_Store
dist/game/.DS_Store
dist/game/data/.DS_Store
dist/game/data/stats/.DS_Store
.DS_Store
dist/.DS_Store
dist/game/.DS_Store
dist/game/data/.DS_Store
dist/game/data/stats/.DS_Store
*.DS_Store
/dist/login/log
dist/game/config/ipconfig.xml
dist/game/config/ipconfig.xml
